.woocommerce  .omw-modal{
  max-height: 100% ;
}
@media (max-width: 600px) {
  .woocommerce .omw-modal{
    height: 100%;
    width: 100% ;

    max-width: 100% ;
    top: 0;
    left: 0;
    -webkit-transform: none;
    transform: none;
  }

}

#tmsm-woocommerce-booking-thalasso-modalform.loading{ opacity: 0.5}

/* Links with Fallback #, Hide The Link (In Particular For Elementor when using Dynamic Tags) */
.hideifnohref[href^="#"]{
  display: none !important;
}